
.garage-details {
    margin-top: 20px;
    overflow-x: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}
th {
    background-color: #B0C4DE;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

