body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  /*text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
  background-image: linear-gradient(45deg, #6fc3df, #c4e0e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form label {
  display: flex;
  align-items: center;
  width: 30%;
  padding: 10px;
}

form input,
form select {
  width: 70%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

}


  *{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  .hero{
    width: 100%;
    min-height: 100%;
    background: #eceaff;
    color: #525252;
  }
  nav{
    /*background: #1a1a1a;*/
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .logo{
    width: 120px;
  }
  .user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  nav ul li a{
    color: #fff;
    text-decoration: none;
  }
  .sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 270px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    /*background-color: black;*/
  }
  .sub-menu-wrap.open-menu{
    max-height: 400px;
  }

  .sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px; 
    /*width: 40px; */
  }
  .user-info{
    display: flex;
    align-items: center;
  }
  .user-info h3{
    font-weight: 500;
  }
  .user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .sub-menu hr{
    border:0;
    height: 1px;
    width: 100%;
    /*background: #ccc;*/
    margin: 15px 0 10px;
  }
  .sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
  }
  .sub-menu-link p{
    width: 100%;
  }
  .sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px; 
  }
  .sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
  }
  
  .sub-menu-link:hover span{
    transform: translateX(5px);
  }
  .sub-menu-link:hover p{
    font-weight: 600;
  }

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resu.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
}

.result-info {
  flex: 1;
}

.result-info h2 {
  margin: 0;
}

.result-info a {
  color: #333;
  text-decoration: none;
}

.result-info a:hover {
  text-decoration: underline;
}

.result-info p {
  margin: 10px 0;
}

.result-parking {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: #2196f3;*/
  color: #fff;
}

.result-parking p {
  background-color: #333;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  padding: 10px;
  margin-left: -115px;
}

.result-parking1 p {
  background-color: #333;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  padding: 10px;
  width: 90px;
  margin-left: 170px;
  margin-top: -32px;
}

@media screen and (max-width: 768px) {
  .result {
    flex-direction: column;
  }

  .result-parking {
    flex: 1;
    margin-top: 10px;
  }
}

footer {
  background-color: #555;
  padding: 20px;
  text-align: center;
  color: #fff;
}
  
.container1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background-color: #f2f2f2;
    }
    
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 150px;
      margin: 10px;
      background-color: #fff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
    }
    
    .heading {
      font-size: 24px;
      margin-bottom: 20px;
    }
    
    .button {
      padding: 10px 20px;
      margin-bottom:20px;
      background-color: #4CAF50;
      color: #fff;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    
    .btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
